body {
  padding: 60px;
  /*background-color: #ebe9e7;*/
  background-color: #f2ede9;
  /*background-color: #fcf7f3;*/
}

.notes {
  padding: 50px 0;
}

.note {
  border: none;
  background-color: #f2ede9;
  box-shadow:
    4px 4px 7px 0 #00695c,
    -3px -3px 7px 0 rgba(255, 255, 255, 0.3);
  border-radius: none;
  padding: 10px 20px;
}

.note p {
  color: #26a69a;
}

.note a i {
  line-height: 2.2;
  cursor: pointer;
  transition: all .2s ease-in;
}

.note a i:hover {
  color: #e53935;
}

.warning {
  color: #e53935;
}

@media(max-width: 600px) {
  .note {
    width: 100%;
    text-align: center;
  }

  .note p {
    font-size: 30px;
  }
}
